.heart-button {
    min-width: 30vw;
    min-height: 30vw;
    background-color: var(--pure-white);
    color: var(--dark-blue);
    font-size: 1.5em;
    border-radius: 10em;
    opacity: 0.8;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.heart-button p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-blue);
}

.heart-button:hover {
    opacity: 1;
    transform: scale(1.020);
    cursor: pointer;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.35);
}

/* On click button */
.heart-button:active {
    transform: scale(0.95);
    opacity: 0.8;
}

.heart-button i {
    text-decoration: none;
    font-size: 10rem;
}

.heart-button i p {
    font-size: 5rem;
}

.new-count-modal-info {
    font-size: 0.6em;
    text-align: center;
}

/* Mobile View */
@media (max-width: 768px) {
    .heart-button {

    }

    .heart-button i {
        font-size: 20vw;
        width: max-content;
    }

    .heart-button i p {
        font-size: 0.5em;
    }
}